@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html, body {
    font-family: 'Poppins', sans-serif;
    color:#111 
}

.btn {
    cursor: pointer;
    display: inline-block;
    background: #f60f20;
    color:#fff;
    text-decoration: none;
    padding:10px 30px;
    margin:20px 0
}
h1 {
    font-size: 30px;
    font-weight: 500;
}

p {
    margin:20px 0 10px;
    font-size: 1.1rem;
}
.logo {
    position:absolute;
    top: 30px;
    left: 90px;
    font-size: 3rem;
    font-weight: 600;
    z-index: 10;
}

.section {
    display: flex;
    height: 100vh;
    align-items: center;
}
.home-img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 900px;
    width: 900px
}

.home-content {
    position: relative;
    z-index: 10;
    max-width: 600px;
}
.navigation {
    display: none;
}